footer {
  // Navegacion
  .nosotros__footer,
  .menu__footer,
  .reservas__footer,
  .contacto__footer {
    font-family: $fuenteMenu;
  }
  .icono-footer {
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem;
  }
  .icono-footer__mastercard--tamaño{
    height: 3rem;
    width: 5rem;
  }
  .icono-footer__visa--tamaño{
    bottom: 0.8rem;
    position: relative;
    height: 5rem;
    width: 5rem;
  }
  .icono-footer__american-express--tamaño {
    position: relative;
    bottom: 0.4rem;
    height: 4rem;
    width: 4rem;
  }
  // Derechos reservados
  .derechos-reservados__fondo {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
