.nosotros {
  .nosotros__aside {
    display: flex;
    margin: 2rem;
    border: solid rgb(0, 0, 0) 0.2rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nosotros__info {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    margin-top: 1rem;
    margin: 1rem 2rem 0 2rem;
    padding: 1rem 0rem;
    color: var(--bs-yellow);
  }
  .nosotros__img {
    display: flex;
    object-fit: cover;
    width: 100%;
    padding: 2rem 2rem;
  }
  .nosotros--fondo {
    display: flex;
    justify-content: center;
    border: solid rgb(0, 0, 0) 0.1rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 7rem 2rem 1.5rem 0;
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
  }
  .nosotros__parrafo {
    display: flex;
    align-items: center;
    color: var(--bs-orange);
    font-size: 1.1rem;
    margin: 1rem 2rem;
    line-height: 2rem;
    object-fit: cover;
  }
  @media (max-width: 1030px) {
    .nosotros__aside {
      display: block;
    }
    .nosotros--fondo {
      line-height: 1.5rem;
      margin: 1rem 1.5rem;
      width: 95%;
      object-fit: cover;
    }
    .nosotros__info {
      margin-top: 0;
    }
  }
  @media (max-width: 800px) {
    .nosotros__aside {
      display: block;
    }
    .nosotros--fondo {
      line-height: 1.5rem;
      margin: 1rem 1.5rem;
      width: 85%;
      object-fit: cover;
    }
    .nosotros__info {
      margin-top: 0;
    }
  }
  @media (max-width: 320px) {
    .menu-de-navegacion__titulo {
      font-size: 0.1px;
    }
    .nosotros__aside {
      margin: 1rem 0;
    }
    .nosotros--fondo {
      line-height: 0.5rem;
      margin: 1rem 0.5rem;
    }
    .nosotros__parrafo {
      font-size: 1.1rem;
    }
  }
}
