// Colores
:root {
  --bs-red: #ff0019;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffff00;
  --bs-white: #fff;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f2f9ff;
  --bs-dark: #212529;
  --bs-negro: #000000;
  --bs-tan: #d2b48c;
}

// Fuentes
$fuenteTitulo: "Courgette", cursive;
$fuenteParrafo: "Bubblegum Sans", cursive;
$fuenteMenu: "Bree Serif", serif;
