@charset "UTF-8";
.menu-de-navegacion .menu-de-navegacion__contenedor {
  padding: 0;
  border-radius: 0;
}

.menu-de-navegacion .menu-de-navegacion__logo {
  height: 6.4rem;
  width: 6.4rem;
}

.menu-de-navegacion .menu-de-navegacion__titulo {
  line-height: 4rem;
}

@media (max-width: 360px) {
  .menu-de-navegacion .menu-de-navegacion__titulo {
    font-size: 1.2rem;
  }
}

@media (max-width: 240px) {
  .menu-de-navegacion .menu-de-navegacion__titulo {
    font-size: 0.8rem;
  }
}

.menu-de-navegacion__contenido-nav {
  margin-right: 17rem;
}

@media (max-width: 767px) {
  .menu-de-navegacion__contenido-nav {
    margin-right: 0;
  }
}

:root {
  --bs-red: #ff0019;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffff00;
  --bs-white: #fff;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f2f9ff;
  --bs-dark: #212529;
  --bs-negro: #000000;
  --bs-tan: #d2b48c;
}

* {
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
a {
  font-family: "Courgette", cursive;
  text-transform: capitalize;
}

p {
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 0.1rem;
  color: var(--bs-tan);
}

.p--color {
  color: var(--bs-light);
}

.bienvenida__botones--Rojos, .menu__botones--Rojos {
  background: var(--bs-orange);
  border-radius: 5rem;
  padding: 1.2rem 3rem;
  border: 0;
  margin: 5rem 0 5rem 0;
  font-size: 1.2rem;
}

.bienvenida__botones--Rojos .bienvenida__boton--Rojo, .menu__botones--Rojos .bienvenida__boton--Rojo, .bienvenida__botones--Rojos .menu__boton--rojo, .menu__botones--Rojos .menu__boton--rojo {
  color: var(--bs-white);
}

.bienvenida__botones--Rojos .bienvenida__boton--Rojo:hover, .menu__botones--Rojos .bienvenida__boton--Rojo:hover, .bienvenida__botones--Rojos .menu__boton--rojo:hover, .menu__botones--Rojos .menu__boton--rojo:hover {
  color: var(--bs-yellow);
}

.bienvenida__botones--Rojos:hover, .menu__botones--Rojos:hover {
  background-color: var(--bs-red);
}

.menu__botones--Rojos {
  padding: 1rem 1rem;
}

.menu__boton--rojo {
  padding: 0 1rem;
}

.botonReservas, .boton-contacto {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 8rem;
  background-color: var(--bs-red);
  border: var(--bs-danger);
  border-radius: 0.6rem;
}

@media (max-width: 900px) {
  .botonReservas, .boton-contacto {
    padding: 1rem 3em;
  }
}

.boton-contacto {
  padding: 0.6rem 10rem;
}

@media (max-width: 450px) {
  .boton-contacto {
    padding: 1rem 3rem;
  }
}

@media (max-width: 360px) {
  .boton-contacto {
    padding: 1rem 3rem;
  }
}

.boton-contacto:hover {
  background-color: var(--bs-danger);
}

.fondoFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 0.749737) 87%);
  margin: 2rem 2rem;
  border-radius: 2rem;
}

.fondoFormulario .fieldsetFormulario {
  border: 0;
  border-radius: 2rem;
  padding: 0rem 5rem;
}

.fondoFormulario .reservaTitulo {
  font-size: 2rem;
  color: var(--bs-red);
  background-color: rgba(20, 16, 16, 0.8);
  padding: 1rem 0;
  border-radius: 3rem;
  margin: 0rem;
  width: 60%;
}

.fondoFormulario .fondoTituloReserva {
  padding: 1rem 0;
  background-color: rgba(5, 0, 0, 0.63);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fondoFormulario .formularioReserva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid var(--bs-negro);
  border-radius: 3rem;
  background-color: rgba(5, 0, 0, 0.63);
  line-height: 3rem;
  letter-spacing: 0.1rem;
  color: var(--bs-white);
  margin-top: 1rem;
}

.fondoFormulario .reservasInput {
  border-radius: 1rem;
  font-size: 1.2rem;
  height: 3.5rem;
  width: 40%;
}

.fondoFormulario .comentarioReserva {
  width: 35%;
}

@media (max-width: 980px) {
  .fondoFormulario .fieldsetFormulario {
    padding: 0rem 0rem;
    border-radius: 1rem;
  }
}

@media (max-width: 320px) {
  .fondoFormulario .fondoFormulario {
    padding: 1rem;
  }
  .fondoFormulario .reservasInput {
    padding: 0rem 0rem;
    height: 3rem;
    width: 10rem;
  }
  .fondoFormulario .comentarioReserva {
    width: 8rem;
  }
}

.formulario-contacto {
  margin: 1rem 2rem;
}

.fondoFormularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.749737) 91%);
}

.fondoFormularioContacto .fieldsetFormularioContacto {
  border: 0;
}

.fondoFormularioContacto .contacto-legend {
  background-color: #3d3838;
  margin: 0;
}

.fondoFormularioContacto .contacto-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.9rem;
  line-height: 1.5;
  color: var(--bs-white);
  font-family: "Bree Serif", serif;
}

.fondoFormularioContacto .consulta-subtitulo {
  color: red;
  font-size: 1.8rem;
  font-family: "Courgette", cursive;
  line-height: 2;
}

.fondoFormularioContacto .formularioContacto {
  position: relative;
  background-color: #3d3838;
  color: var(--bs-white);
  bottom: 1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9rem;
}

.fondoFormularioContacto .tituloFormulario {
  font-size: 1.5rem;
  padding-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--bs-yellow);
  font-family: "Bubblegum Sans", cursive;
}

.fondoFormularioContacto .pizzaImgContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fondoFormularioContacto .input-contacto {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fondoFormularioContacto .texto-contacto--margin {
  margin: 0.8rem;
}

@media (max-width: 600px) {
  .fondoFormularioContacto .tituloFormulario {
    font-size: 1.1rem;
    margin: 0 1rem;
  }
}

.nosotros .nosotros__aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  border: solid black 0.2rem;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.nosotros .nosotros__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  margin-top: 1rem;
  margin: 1rem 2rem 0 2rem;
  padding: 1rem 0rem;
  color: var(--bs-yellow);
}

.nosotros .nosotros__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 2rem 2rem;
}

.nosotros .nosotros--fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid black 0.1rem;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 7rem 2rem 1.5rem 0;
  border-radius: 1rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nosotros .nosotros__parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--bs-orange);
  font-size: 1.1rem;
  margin: 1rem 2rem;
  line-height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1030px) {
  .nosotros .nosotros__aside {
    display: block;
  }
  .nosotros .nosotros--fondo {
    line-height: 1.5rem;
    margin: 1rem 1.5rem;
    width: 95%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nosotros .nosotros__info {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .nosotros .nosotros__aside {
    display: block;
  }
  .nosotros .nosotros--fondo {
    line-height: 1.5rem;
    margin: 1rem 1.5rem;
    width: 85%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nosotros .nosotros__info {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .nosotros .menu-de-navegacion__titulo {
    font-size: 0.1px;
  }
  .nosotros .nosotros__aside {
    margin: 1rem 0;
  }
  .nosotros .nosotros--fondo {
    line-height: 0.5rem;
    margin: 1rem 0.5rem;
  }
  .nosotros .nosotros__parrafo {
    font-size: 1.1rem;
  }
}

.fondo__Menu--ladrillos {
  background-image: url(../img/Pared-De-Ladrillos.jpg);
  overflow-x: hidden;
}

.fondo__Menu--ladrillos .menu__cartel--centrado {
  background-image: url(../img/Madera2.jpg);
  background-size: cover;
  font-family: "Bree Serif", serif;
  color: var(--bs-white);
  font-size: 4rem;
  border: solid var(--bs-negro);
  border-radius: 2rem;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  margin: 10rem 30rem;
}

.fondo__Menu--ladrillos .contenedorMenuFondo {
  margin: 10rem 0 0 0;
  background-color: rgba(20, 16, 16, 0.9);
  color: var(--bs-white);
  border: solid var(--bs-negro) 0.3rem;
  border-radius: 3rem;
}

.fondo__Menu--ladrillos .contenedorMenuPrincipal div {
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
  grid-gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.fondo__Menu--ladrillos .contenedorMenuPrincipal article {
  margin: 1rem 0 3rem 0;
}

.fondo__Menu--ladrillos .menuComidaNombre {
  background-image: url(../img/Madera-Con-luces.jpg);
  border-radius: 10rem;
  height: 6rem;
  overflow: hidden;
}

.fondo__Menu--ladrillos .contenedorMenuPrincipal h3 {
  font-size: 4rem;
  border: solid var(--bs-negro) 0.3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  color: var(--bs-yellow);
  background-size: cover;
  padding: 0 15rem;
  font-family: "Bree Serif", serif;
  border: solid black 0.1rem;
  background-color: rgba(24, 12, 12, 0.6);
  line-height: 5.9rem;
}

.fondo__Menu--ladrillos .contenedorMenuPrincipal img {
  height: 15rem;
  width: 20rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.1rem;
}

.fondo__Menu--ladrillos .contenedorMenuPrincipal img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fondo__Menu--ladrillos .tituloImg {
  font-size: 1.8rem;
}

.fondo__Menu--ladrillos .precio {
  color: var(--bs-light);
  font-size: 1.5rem;
}

.fondo__Menu--ladrillos .menuPizzas,
.fondo__Menu--ladrillos .menuEmpanadas,
.fondo__Menu--ladrillos .menuFainas,
.fondo__Menu--ladrillos .menuPostres {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.fondo__Menu--ladrillos .menuPicadas,
.fondo__Menu--ladrillos .menuFainas {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.fondo__Menu--ladrillos .picadaPara2 img,
.fondo__Menu--ladrillos .picadaPara4 img {
  width: 20rem;
  height: 30rem;
}

@media (max-width: 1200px) {
  .fondo__Menu--ladrillos .menu__cartel--centrado {
    margin: 10rem 25rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal article {
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal img {
    height: 15rem;
    width: 17rem;
    border-radius: 2.1rem;
  }
  .fondo__Menu--ladrillos .picadaPara2 img,
  .fondo__Menu--ladrillos .picadaPara4 img {
    width: 25rem;
    height: 30rem;
  }
}

@media (max-width: 1024px) {
  .fondo__Menu--ladrillos .menu__cartel--centrado {
    margin: 5rem 15rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal article {
    margin: 2rem;
    margin-bottom: 5rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal img {
    height: 10rem;
    width: 12rem;
    border-radius: 2.1rem;
  }
  .fondo__Menu--ladrillos .picadaPara2 img,
  .fondo__Menu--ladrillos .picadaPara4 img {
    width: 15rem;
    height: 20rem;
  }
}

@media (max-width: 900px) {
  .fondo__Menu--ladrillos .contenedorMenuPrincipal h3 {
    font-size: 3rem;
    padding: 0 10rem;
  }
}

@media (max-width: 768px) {
  .fondo__Menu--ladrillos .menu__cartel--centrado {
    margin: 5rem 15rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal h3 {
    font-size: 3rem;
    padding: 0 5rem;
  }
  .fondo__Menu--ladrillos .menuPizzas,
  .fondo__Menu--ladrillos .menuEmpanadas,
  .fondo__Menu--ladrillos .menuFainas,
  .fondo__Menu--ladrillos .menuPostres {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal article {
    margin: 5rem;
    margin-bottom: 5rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal img {
    height: 7em;
    width: 14rem;
    border-radius: 5rem;
  }
  .fondo__Menu--ladrillos .picadaPara2 img,
  .fondo__Menu--ladrillos .picadaPara4 img {
    width: 15rem;
    height: 20rem;
  }
}

@media (max-width: 640px) {
  .fondo__Menu--ladrillos .menu__cartel--centrado {
    margin: 5rem 0;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal h3 {
    font-size: 3rem;
    padding: 0 1rem;
  }
  .fondo__Menu--ladrillos .menuPizzas,
  .fondo__Menu--ladrillos .menuEmpanadas,
  .fondo__Menu--ladrillos .menuFainas,
  .fondo__Menu--ladrillos .menuPicadas,
  .fondo__Menu--ladrillos .menuPostres {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal article {
    margin: 5rem;
    margin-bottom: 5rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal img {
    height: 15em;
    width: 30rem;
    border-radius: 5rem;
  }
  .fondo__Menu--ladrillos .picadaPara2 img,
  .fondo__Menu--ladrillos .picadaPara4 img {
    width: 15rem;
    height: 20rem;
  }
}

@media (max-width: 480px) {
  .fondo__Menu--ladrillos .menu__cartel--centrado {
    margin: 5rem 0;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal h3 {
    font-size: 1rem;
    padding: 0 4rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal img {
    height: 15em;
    width: 20rem;
    border-radius: 5rem;
  }
  .fondo__Menu--ladrillos .picadaPara2 img,
  .fondo__Menu--ladrillos .picadaPara4 img {
    width: 15rem;
    height: 20rem;
  }
  .fondo__Menu--ladrillos .precio {
    font-size: 3rem;
  }
  .fondo__Menu--ladrillos .tituloImg {
    font-size: 4rem;
  }
}

@media (max-width: 320px) {
  .fondo__Menu--ladrillos .menu__cartel--centrado {
    margin: 5rem 0;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal img {
    height: 12rem;
    width: 16rem;
    border-radius: 5rem;
  }
  .fondo__Menu--ladrillos .picadaPara2 img,
  .fondo__Menu--ladrillos .picadaPara4 img {
    width: 15rem;
    height: 20rem;
  }
  .fondo__Menu--ladrillos .contenedorMenuPrincipal h3 {
    font-size: 2.3rem;
    padding: 0 0.1px;
  }
  .fondo__Menu--ladrillos .precio {
    font-size: 2rem;
  }
  .fondo__Menu--ladrillos .tituloImg {
    font-size: 3rem;
  }
}

.contenedorCarousel img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 105vh;
}

.contenedorCarousel .carousel-caption {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}

.contenedorCarousel .fondoDeCarousel {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.contenedorCarousel h2 {
  font-size: 5rem;
  line-height: 1.5;
  color: var(--bs-warning);
}

.contenedorCarousel p {
  font-size: 1.3rem;
  color: var(--bs-white);
}

@media (max-width: 645px) {
  .contenedorCarousel h2 {
    font-size: 2.5rem;
  }
  .contenedorCarousel p {
    font-size: 1.2rem;
  }
}

@media (max-width: 360px) {
  .contenedorCarousel h2 {
    font-size: 2rem;
  }
  .contenedorCarousel p {
    font-size: 1.2rem;
  }
}

@media (max-width: 240px) {
  .contenedorCarousel h2 {
    font-size: 1.2rem;
  }
  .contenedorCarousel p {
    font-size: 0.9rem;
  }
}

.bienvenida__seccion {
  background-image: url(../img/Madera1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bienvenida__seccion .bienvenida__contenedor {
  border-bottom: 0.2rem solid transparent;
  padding: 10rem;
}

.bienvenida__seccion .bienvenida__titulo {
  color: var(--bs-white);
  font-size: 3rem;
}

.bienvenida__seccion .bienvenida__subtitulo {
  color: var(--bs-warning);
  font-size: 2rem;
  padding: 0.5rem 0;
}

.bienvenida__seccion .bienvenida__parrafo {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

@media (max-width: 240px) {
  .bienvenida__seccion .bienvenida__titulo {
    font-size: 2rem;
  }
  .bienvenida__seccion .bienvenida__subtitulo {
    font-size: 1.5rem;
  }
  .bienvenida__seccion .bienvenida__parrafo {
    font-size: 1rem;
  }
}

.fondo__menu {
  background-image: url(../img/Fondo-bar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.fondo__menu .contenedor__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8rem 0rem;
}

.fondo__menu .menu__cartel {
  background-image: url(../img/Madera2.jpg);
  background-size: cover;
  font-family: "Bree Serif", serif;
  color: var(--bs-white);
  font-size: 3rem;
  border: solid black;
  border-radius: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
  width: 20rem;
}

.fondo__menu .menu__img img {
  height: 15rem;
  width: 20rem;
  border: solid var(--bs-negro) 0.2rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem 1rem;
}

.fondo__menu .picada {
  height: 25rem;
}

@media (max-width: 480px) {
  .fondo__menu .menu__cartel {
    width: 15rem;
  }
  .fondo__menu .menu__img img {
    height: 100%;
    width: 90%;
    margin: 1rem 0rem;
  }
  .fondo__menu .picada {
    height: 1rem;
  }
}

.pedidos {
  background-image: url(../img/Imagen-De-Pizzeria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.pedidos .pedidos__seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pedidos .pedidos__aside {
  margin: 2rem;
  border: solid black 0.1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.pedidos .pedidos__subtitulo {
  color: var(--bs-red);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.pedidos .pedidos__titulo {
  color: var(--bs-yellow);
  font-size: 2.5rem;
}

.pedidos .pedidos__parrafo {
  color: var(--bs-white);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 1rem 1rem;
}

.pedidos .pedidos__parrafo-2 {
  color: var(--bs-white);
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 1rem 1rem;
}

.pedidos .pedidos__img {
  width: 40%;
  height: 50%;
  margin: 2rem 2rem;
  border: solid black 0.1rem;
}

@media (max-width: 600px) {
  .pedidos .pedidos__subtitulo {
    color: var(--bs-red);
    font-size: 1rem;
  }
  .pedidos .pedidos__titulo {
    color: var(--bs-yellow);
    font-size: 2rem;
  }
  .pedidos .pedidos__parrafo {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;
  }
  .pedidos .pedidos__parrafo-2 {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;
  }
  .pedidos .pedidos__img {
    width: 40%;
    height: 28vh;
    margin: 2rem 2rem;
    border: solid black 0.1rem;
  }
}

@media (max-width: 768px) {
  .pedidos .pedidos__seccion {
    display: inline;
    overflow: hidden;
  }
  .pedidos .pedidos__img {
    width: 70%;
    height: 100%;
  }
}

footer .nosotros__footer,
footer .menu__footer,
footer .reservas__footer,
footer .contacto__footer {
  font-family: "Bree Serif", serif;
}

footer .icono-footer {
  height: 3rem;
  width: 3rem;
  margin: 0 0.5rem;
}

footer .icono-footer__mastercard--tamaño {
  height: 3rem;
  width: 5rem;
}

footer .icono-footer__visa--tamaño {
  bottom: 0.8rem;
  position: relative;
  height: 5rem;
  width: 5rem;
}

footer .icono-footer__american-express--tamaño {
  position: relative;
  bottom: 0.4rem;
  height: 4rem;
  width: 4rem;
}

footer .derechos-reservados__fondo {
  background-color: rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=Styles.css.map */