.menu-de-navegacion {
  .menu-de-navegacion__contenedor {
    padding: 0;
    border-radius: 0;
  }
  .menu-de-navegacion__logo {
    height: 6.4rem;
  }
  .menu-de-navegacion__titulo {
    line-height: 4rem;
  }
  @media (max-width: 320px) {
    .menu-de-navegacion__titulo {
      font-size: 1.1rem;
    }
  }
  @media (max-width: 240px) {
    .menu-de-navegacion__titulo {
      font-size: 0.8rem;
    }
  }
}
.menu-de-navegacion__contenido-nav {
  margin-right: 17rem;
}
@media (max-width: 767px) {
  .menu-de-navegacion__contenido-nav {
    margin-right: 0;
  }
}
